<!-- BEGIN intro -->
	<div>
	<div class="structureimport_infobox">
		{VERSION_INFOTEXT}
	</div>
	<h1>{INSTRUCTION_TITLE}</h1>
	<p>{INSTRUCTION_TEXT}</p>
	
	<h2>{TITLE_PARAGRAPH_1}</h2>
	<p>{TEXT_PARAGRAPH_1}</p>
	<img src="{IMG_SRC_EXCEL_SHEET}" width="50%">
	
	<h2>{TITLE_PARAGRAPH_2}</h2>
	<p>{TEXT_PARAGRAPH_2}</p>
	<img src="{IMG_SRC_OPEN_IMPORT}" width="50%">
	{LINK_TO_INSTRUCTION_DIRECTORY}
	
	<h2>{TITLE_PARAGRAPH_3}</h2>
	<p>{TEXT_PARAGRAPH_3}</p>
	<img src="{IMG_SRC_UPLOAD_FILE}" width="50%">
	
	<h2>{TITLE_PARAGRAPH_4}</h2>
	<p>{TEXT_PARAGRAPH_4}</p>
	<img src="{IMG_SRC_EXECUTE_IMPORT}" width="50%">
	</div>
<!-- END intro -->

