<!-- BEGIN intro -->
	<div>
	<div class="structureimport_infobox">
		{VERSION_INFOTEXT}
	</div>
	<h1>{INSTRUCTION_TITLE}</h1>
	<p>{INSTRUCTION_TEXT}</p>
	{LINK_TO_INSTRUCTION_DIRECTORY}<br>
	<h2>{TITLE_CREATE_EXCEL}</h2>
	<p>{TEXT_CREATE_EXCEL}</p>	
	<img src="{IMG_SRC_EXCEL_SHEET}" width="50%">
	
	<h2>{TITLE_CHOOSE_DIR}</h2>
	<p>{TEXT_CHOOSE_DIR}</p>
	<img src="{IMG_SRC_OPEN_IMPORT}" width="50%">
	
	<h2>{TITLE_UPLOAD_FILE}</h2>
	<p>{TEXT_UPLOAD_FILE}</p>
	<img src="{IMG_SRC_UPLOAD_FILE}" width="50%">
	
	<h2>{TITLE_CHECK_ACTIONS_AND_IMPORT}</h2>
	<p>{TEXT_CHECK_ACTIONS_AND_IMPORT}</p>
	<p>{TEXT_HTML_CAUTION_WITH_ERRORS}</p>
	<img src="{IMG_SRC_EXECUTE_IMPORT}" width="50%">
	</div>
<!-- END intro -->

